body {
    background: #ffe084; 
            background-repeat: repeat;
    margin: 0;
    padding: 0; 
}

/* .info {
    color: rgba(255, 154, 3, 0.698);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-top: 80px;
    text-align: center;
    border-radius: 10px;
    
    
} */

#heading {
    font-size: 2rem;
    color: rgb(6, 6, 6);
    margin-top: 10px;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

#heading:hover {
    color: rgb(250, 50, 5); /* Change color on hover */
    /* Additional styles for hover effect can be added here */
}


.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top:90px ;
    /* border: 2px solid black; */
}

/* .card-image {
    height: 30vh;
    width: 100%;
    border-radius: 50px;
    border-radius: 10px;
    border: 2px solid rgb(185, 232, 232);
    box-shadow: 3px 5px #f7f7f7;
} */
p{
    color: rgb(0, 0, 0);
}
/* #separate{
    display: grid ;
    grid-template-columns: auto auto auto;
    gap: 20px;
    border: 2px solid black;
} */