
* {
    padding: 0;
    margin: 0;
}

.navbar {
    margin-top: -2vw;
    margin-left:-10vw;
    background-color: #dacfcf; 
    color: #070707;
    padding:1vw;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width:98vw;
    height: 7vh;
    
}

.input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #991a1a;
}

.div1 {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1; }

.div1 li {
    margin-left: 20px; 
    cursor: pointer;
}

.div1 li:hover {
    text-decoration: underline; 
}
